# Copy this file to .env and fill the values from your Firebase project
VITE_FIREBASE_API_KEY=AIzaSyBnTCqUCKOyokE1IshD3L8tjwEguKMJhuo
VITE_FIREBASE_AUTH_DOMAIN=nader-11d20.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://nader-11d20-default-rtdb.firebaseio.com
VITE_FIREBASE_PROJECT_ID=nader-11d20
VITE_FIREBASE_STORAGE_BUCKET=nader-11d20.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=786543738921
VITE_FIREBASE_APP_ID=1:786543738921:web:8d7fc040bdda94eacd1c38

# Optional: set to 'true' to enable verbose firebase initialization logs
VITE_FIREBASE_DEBUG=false
VITE_ADMIN_USER=01558342393
VITE_ADMIN_PASS=Nader@159951
# If true, the admin user will be created automatically in Firebase Auth when first signing in.
# For better security set this to 'false' and create the admin user manually and set isAdmin=true in the Realtime DB under /users/{phone}
VITE_ADMIN_ALLOW_AUTO_CREATE=false
